<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                안전이란 대개 미신이다. 그것은 사실상 존재하지 않는다… 인생은 대담한 모험이거나 아니면 아무것도 아니다.
                가장 비참하고 보잘 것 없어보이는 사람들이 대개 가장 야심차고 질투가 많다.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                변화는 인간의 정신에 막대한 심리적 영향을 미친다. 두려워하는 자는 상황이 악화될까봐 걱정하므로 위협적으로 느낀다.
                희망에 찬 자는 상황이 나아질 것을 기대하므로 용기를 낸다. 자신있는 사람에게 도전이란 더 나은 것을 만들기 위한 과정이기에,
                분발의 계기가 된다.
            </p>
        </div>
    </div>
</section>
